<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
<section class="vh-100">
    <div class="container py-5 h-80">
    <h1 class="text-center text-danger">Notification form</h1>
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-3 col-xl-3">
          <img src="../../../../assets/imgs/icons/bell-alarm.png"
            class="img-fluid new" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Title</label>
              <input type="email" [(ngModel)]="notification.title" name="title" id="form1Example13" class="form-control form-control-lg" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Discription</label>
              <ckeditor [editor]="Editor" [(ngModel)]="notification.description" name="content" data="Write Question Here"></ckeditor>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>  
          </form>
        </div>
      </div>
    </div>
  </section>
  </main>