<main class="main-wrap" *ngIf="allcategory.length!=0">
    <app-navbar-admin></app-navbar-admin>
    <section class="content-main">
        <div class="content-header">
            <div class="col-5">
                <h2 class="content-title card-title">Products List</h2><span>
                <a [routerLink]="['/admin/add-product-goutam']" class="btn btn-primary btn-sm rounded">Create new</a></span>
            </div>
            <div class="col-3">
                <span class="d-flex">
                    <input type="text" [(ngModel)]="productSearch" name="productSearch"
                        class="form-control col-xs-2 mt-5" placeholder="Search...">
                    <button (click)="getAllProducts()" class="btn"><i class="bi bi-search"></i></button>
                </span>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select" [(ngModel)]="productFilter.catId" name="catId">
                            <option selected value="">All category</option>
                            <option *ngFor="let category of allcategory" [value]="category.id">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-md-2 col-6">
                        <input type="date" name="dates" class="form-control" [(ngModel)]="productFilter.dates" [max]="getCurrentDate()" />
                    </div> -->
                    <div class="col-md-2 col-6">
                        <select class="form-select" [(ngModel)]="productFilter.listingStatus" name="listingStatus">
                            <option selected value="">Listing Status</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>                    
                    </div>
                   
                    <div class="col-md-2 col-6">
                        <select class="form-select" [(ngModel)]="productFilter.status" name="status">
                            <option selected value="">Status</option>
                            <option value="VERIFIED">VERIFIED</option>
                            <option value="UNVERIFIED">UNVERIFIED</option>
                            <option value="PENDING">PENDING</option>
                            <option value="REJECTED">REJECTED</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-6">
                        <a (click)="getProductListByFilter()" class="btn btn-primary btn-sm rounded">Filter</a>
                    </div>
                </div>
                
                
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                S.No.
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name"
                            >
                            <a class="itemside">
                                <div class="left">
                                  <span>Product Image</span>
                                </div>
                                <div class="info">
                                    <span>Product Name</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-price"><span>Price</span></div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            Listing Status
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                           <span>Verification</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>Created At </span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>Vendor Name</span>
                        </div>
                    </div>
                </article>
                <article class="itemlist" *ngFor="let product of productList;let i=index">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                {{pageSize*pageIndex+1+i}}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name"
                            [routerLink]="'/admin/productDetails/'+product.id">
                            <a class="itemside">
                                <div class="left">
                                    <img [src]="imageUrl + product.productImage" class="img-sm img-thumbnail"
                                        alt="Item" />
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">{{product.productName}}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-price"><span>{{product.basicPrice}}</span></div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <mat-slide-toggle [checked]="product.listingStatus" (change)="updateListingStatus($event,product.id)">Listing Status</mat-slide-toggle>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <select class="form-select" (change)="updateVerifiedStatus($event,product.id)">
                                <option *ngIf="product.verified==='VERIFIED'" value="VERIFIED">VERIFIED</option>
                                <option *ngIf="product.verified==='UNVERIFIED'" value="UNVERIFIED">UNVERIFIED</option>
                                <option *ngIf="product.verified==='REJECTED'" value="REJECTED">REJECTED</option>
                                <option *ngIf="product.verified!=='VERIFIED'" value="VERIFIED">VERIFIED</option>
                                <option *ngIf="product.verified!=='UNVERIFIED'" value="UNVERIFIED">UNVERIFIED</option>
                                <option *ngIf="product.verified!=='REJECTED'" value="REJECTED">REJECTED</option>
                            </select>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>{{product.createdAt | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>{{product.vendor.firstName +" "+ product.vendor.lastName}}</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>