<div class="container">
    <div class="card">
        <form [formGroup]="myForm">
        
            <label for="fname">Brand name:</label><br>
            <input type="text"  name="brandName" placeholder="Enter Here"  [(ngModel)]="brand.brandName"    formControlName="brandname"><br>
             <h6 *ngIf="myForm.get('brandname')!.hasError('required') && myForm.get('brandname')!.touched " style="color: red;">
                Rquired</h6>




            <label for="lname">Brand Description</label>    
            <textarea required name="brandDescription" matInput placeholder="Enter here Desciption"  [(ngModel)]="brand.brandDescription"  formControlName="brandDescription"></textarea>
            <h6 *ngIf="myForm.get('brandDescription')!.hasError('required') && myForm.get('brandDescription')!.touched " style="color: red;">
                Rquired</h6>
 
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label">Brand Image :<span class="text-danger"  ></span></label>
                        <input type="file" formControlName="brandImage" name="brandImage" (change)="addImageFile($event)"  >
                        <h6 *ngIf="myForm.get('brandImage')!.hasError('required') && myForm.get('brandImage')!.touched " style="color: red;">
                            Rquired</h6>
                    </div>
                    <button      mat-button color="primary"
                    style="margin-left: 40%;" (click)="addBrand()">Submit</button>
                </div>
        </form>
     
       
        {{brand |json}}
      
</div>


                                        