<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
        <div class="row">
            <div class="col-8 mt-3">
                <button class="btn btn-outline-warning b" [routerLink]="'/admin/add-varient/'+productId">Add New
                    Varient</button>
            </div>
        </div>
        <div class="col-xl-10 col-lg-12 m-auto">
            <div class="product-detail accordion-detail">
                <div class="row mb-50 mt-30">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>