<div class="card">
    <h5 class="mb-30">By Tags</h5>
    <div class="sidebar-widget widget-tags">
        <ul class="tags-list">
            <li class="hover-up">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Milk</a>
            </li>
            <li class="hover-up">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Broccoli</a>
            </li>
            <li class="hover-up">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Smoothie</a>
            </li>
            <li class="hover-up">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Fruit</a>
            </li>
            <li class="hover-up mr-0">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Salad</a>
            </li>
            <li class="hover-up mr-0">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Appetizer</a>
            </li>
            <li class="hover-up mr-0 mb-0">
                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Appetizer</a>
            </li>
        </ul>
    </div>
</div>