<header class="header-area header-style-1 header-height-2">
    <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form (submit)="searchProduct()">
                            <input type="text" placeholder="Search for items..." name="searchKey" [(ngModel)]="searchKey" />
                            <button type="submit"><span class="material-symbols-outlined">
                                query_stats
                                </span></button>
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a [routerLink]="'/customer/wishlist'">
                                    <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count blue">{{productToWishList}}</span>
                                </a>
                                <a [routerLink]="'/customer/wishlist'"><span class="lable">Wishlist</span></a>
                            </div>

                            <div class="header-action-icon-2">
                                <a >
                                    <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-hot.svg" />
                                </a>
                                <a [routerLink]="'vendor/vendor-guide'"><span class="lable">Become a Vendor</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" [routerLink]="'/customer/cart'">
                                    <img alt="Nest" src="assets/imgs/theme/icons/icon-cart.svg" />
                                    <span class="pro-count blue">{{productToCart}}</span>
                                </a>
                                <a [routerLink]="'/customer/cart'"><span class="lable">Cart</span></a>
                                <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest"
                                                        src="assets/imgs/shop/thumbnail-3.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                <h4><span>1 × </span>$800.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest"
                                                        src="assets/imgs/shop/thumbnail-2.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                <h4><span>1 × </span>$3200.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$4000.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html" class="outline">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>

                                        </div>
                                    </div>
                                </div> -->
                            </div> 
                            <div *ngIf="isUserActive" class="header-action-icon-2">
                                <a [routerLink]="'/customer/account'">
                                    <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-user.svg" />
                                </a>
                                <a  [routerLink]="'/customer/account'"><span class="lable">Account</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li><a routerLink="/customer/account"><i class="fi fi-rs-user mr-10"></i>My
                                                Account</a></li>
                                        <li><a routerLink="/customer/account"><i class="fi fi-rs-location-alt mr-10"></i>Order
                                                Tracking</a></li>
                                        <li><a routerLink="/customer/account"><i class="fi fi-rs-label mr-10"></i>My
                                                Voucher</a></li>
                                        <li><a routerLink="/customer/wishlist"><i class="fi fi-rs-heart mr-10"></i>My
                                                Wishlist</a></li>
                                        <li><a routerLink="/customer/account"><i
                                                    class="fi fi-rs-settings-sliders mr-10"></i>Setting</a></li>
                                        <li><a (click)="logout()"><i class="fi fi-rs-sign-out mr-10"></i>Sign
                                                out</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Login and registration  -->
                            <div class="header-action-icon-2" *ngIf="!isUserActive">
                                <a routerLink="/customer/login">
                                    <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-login.png" />
                                </a>
                                <a routerLink="/customer/login"><span class="lable">Login</span></a>
                            </div>

                            <div class="header-action-icon-2" *ngIf="!isUserActive">
                                <a routerLink="/customer/register">
                                    <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-signup.jpg" />
                                </a>
                                <a routerLink="/customer/register"><span class="lable">Register</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a [routerLink]="'/customer/home'"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active">
                            <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories
                            <i class="fi-rs-angle-down"></i>
                        </a>
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                    <li *ngFor="let item of firstThird"  >
                                        <span class="material-symbols-outlined" [routerLink]="'/customer/home/cat/'+item.id">
                                            category
                                            </span>
                                        <a [routerLink]="'/customer/home/cat/'+item.id" >{{item.categoryName}} 
                                            </a> 
                                    </li> 
                                </ul>
                                <ul class="mid">
                                    <li *ngFor="let item of secondThird"  >
                                        <span class="material-symbols-outlined" [routerLink]="'/customer/home/cat/'+item.id">
                                            category
                                            </span>
                                        <a [routerLink]="'/customer/home/cat/'+item.id" >{{item.categoryName}}
                                            </a> 
                                    </li> 
                                </ul>
                                <ul class="end">
                                    <li *ngFor="let item of finalThird"  >
                                        <span class="material-symbols-outlined" [routerLink]="'/customer/home/cat/'+item.id">
                                            category
                                            </span>
                                        <a [routerLink]="'/customer/home/cat/'+item.id" >{{item.categoryName}}
                                            </a> 
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li>
                                    <a class="active" [routerLink]="'/customer/home'">Home</a>
                                </li>
                                <li class="position-static" *ngFor="let category of allcategory">
                                    <a [routerLink]="'/customer/home/cat/'+category.id" >{{category.categoryName}} <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" [routerLink]="'/customer/home/cat/'+category.id" >{{category.categoryName}}</a>
                                            <ul class="horizontal-list">
                                               <li *ngFor="let subCat of category.subCategory"><a [routerLink]="'/customer/home/subCat/'+subCat.id">{{subCat.subCategory}}</a></li>
                                            </ul>
                                        </li>   
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-flex">
                    <img src="assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                    <p>1900 - 888<span>24/7 Support Center</span></p>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a [routerLink]="'/customer/wishlist'">
                                <img  alt="Nest" src="assets/imgs/theme/icons/icon-heart.svg" />
                                <span class="pro-count white">{{productToWishList}}</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a [routerLink]="'/customer/cart'">
                                <img alt="Nest" src="assets/imgs/theme/icons/icon-cart.svg" />
                                <span class="pro-count blue">{{productToCart}}</span>
                            </a>
                        </div>
                        <div *ngIf="isUserActive" class="header-action-icon-2">
                            <a [routerLink]="'/customer/account'">
                                <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-user.svg" />
                            </a>
                            <a  [routerLink]="'/customer/account'"><span class="lable">Account</span></a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                <ul>
                                    <li><a routerLink="/customer/account"><i class="fi fi-rs-user mr-10"></i>My
                                            Account</a></li>
                                    <li><a routerLink="/customer/account"><i class="fi fi-rs-location-alt mr-10"></i>Order
                                            Tracking</a></li>
                                    <li><a routerLink="/customer/account"><i class="fi fi-rs-label mr-10"></i>My
                                            Voucher</a></li>
                                    <li><a routerLink="/customer/wishlist"><i class="fi fi-rs-heart mr-10"></i>My
                                            Wishlist</a></li>
                                    <li><a routerLink="/customer/account"><i
                                                class="fi fi-rs-settings-sliders mr-10"></i>Setting</a></li>
                                    <li><a (click)="logout()"><i class="fi fi-rs-sign-out mr-10"></i>Sign
                                            out</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Login and registration  -->
                        <div class="header-action-icon-2" *ngIf="!isUserActive">
                            <a [routerLink]="'/customer/login'">
                                <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-login.png" />
                            </a>
                            <a [routerLink]="'/customer/login'"><span class="lable">Login</span></a>
                        </div>

                        <div class="header-action-icon-2" *ngIf="!isUserActive">
                            <a [routerLink]="'/customer/register'">
                                <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-signup.jpg" />
                            </a>
                            <a [routerLink]="'/customer/register'"><span class="lable">Register</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>