<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Varient</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                        <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Varient Name</label>
                                <input type="text" name="varientName" [(ngModel)]="varientRequest.varientName"
                                    placeholder="Type here" class="form-control" id="product_name" />
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">price</label>
                                        <div class="row gx-2">
                                            <input placeholder="price" type="text" [(ngModel)]="varientRequest.price"
                                                name="price" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Stock</label>
                                <input type="text" [(ngModel)]="varientRequest.stock" placeholder="Enter stock detail"
                                    name="stock" class="form-control" id="product_name" />
                            </div>
                            <div class="mb-4">
                                <div class="mb-4">
                                    <label for="mainOptions">Varient Category</label>
                                    <select id="mainOptions" (change)="setCategory($event)" class="form-control">
                                        <option value="">Select...</option>
                                        <option *ngFor="let item of varientCategory" [value]="item.name">{{item.name}}
                                        </option>
                                    </select>
                                </div>

                                <div id="subOptionsContainer" *ngIf="selectedValues.length > 0">
                                    <label for="subOptions">Varient Attribute</label>
                                    <select id="subOptions" (change)="setAttribute($event)" class="form-control">
                                        <option value="">Select...</option>
                                        <option *ngFor="let attribute of newVarientCategory.categoryAttributes"
                                            [value]="attribute.attributeName">{{attribute.attributeName}}</option>
                                    </select>
                                </div>

                                <div id="selectedValuesContainer">
                                    <!-- <ul id="selectedValuesList">
                                        <li *ngFor="let selectedValue of selectedValues;let i=index">
                                            {{selectedValue.category}}: {{selectedValue.attribute}}<i class="bi bi-x"
                                                (click)="deleteAttribute(i)"></i></li>
                                    </ul> -->
                                    <mat-chip-grid #chipGrid aria-label="">
                                        <mat-chip-row *ngFor="let selectedValue of selectedValues;let i=index"
                                        >
                                            {{selectedValue.category}}/{{selectedValue.attribute}}
                                            <button mat-icon-button (click)="deleteAttribute(i)">
                                                <span class="material-symbols-outlined">
                                                    cancel
                                                    </span>
                                            </button>
                                        </mat-chip-row>
                                    </mat-chip-grid>
                                </div>
                            </div>
                            <div class="subcategory-row">
                                <button type="submit" class="btn btn-outline-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- card end// -->
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <img src="assets/imgs/theme/upload.svg" width="50px" alt="" />
                            <input type="file" (change)="onFileSelected($event)" multiple />
                        </div>
                        <div *ngFor="let image of images; let i=index">
                            <img [src]="image.url" alt="Preview"
                                style="max-width: 100px; max-height: 100px; margin: 5px;" />
                            <i class="bi bi-x" (click)="deleteImage(i)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>