<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <button class="btn btn-outline-warning b" [routerLink]="'/admin/addVarientCategory'">Add New Varient</button>
            </div>
        </div>
        <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Varient</th>
                        <th scope="col">Varient Attribute</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of varient, let i=index">
                        <th scope="row">{{pageSize*pageIndex+i+1}}</th>
                        <td>{{item.name}}</td>
                        <td >
                            <div *ngFor="let items of item.categoryAttributes">{{items.attributeName}}</div>
                        </td>
                        <td>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a  class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                                <a  class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator #paginator  class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        </div>
</main>