<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <button class="btn btn-outline-warning b" [routerLink]="'/admin/addVarientCategory'">Add New
                    Varient</button>
            </div>
            <div class="col-3 mt-30">
                <span class="d-flex">
                    <input type="text" [(ngModel)]="varientSearch" name="varientSearch" class="form-control col-xs-2 mt-5" placeholder="Search...">
                    <button (click)="getAllVarient()" class="btn"><i class="bi bi-search"></i></button>
                </span>
                </div>
        </div>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Varient</th>
                    <th scope="col">Varient Attribute</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of varient, let i=index">
                    <th scope="row">{{pageSize*pageIndex+i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>
                        <div *ngFor="let items of item.categoryAttributes">
                            <div class="row">
                                <div class="col-3">{{items.attributeName}}</div>
                                    <!-- <div class="col-3"> 
                                        <span>
                                        <a><img src="../../../../assets/imgs/icons/edit1.png" width="20px"  alt=""></a>
                                        <a><img class="btnd" src="../../../../assets/imgs/icons/del1.png" width="20px" alt="" (click)="deleteSubVarient(items.id)"></a></span>
                                    </div> -->
                            </div>
                        </div>
                    </td>

                    <td>
                        <span>
                            <a><img src="../../../../assets/imgs/icons/edit1.png" width="30px" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="getVarientByIds(item.id)"></a>
                            <a><img class="btnd" src="../../../../assets/imgs/icons/del1.png" width="30px" alt="" (click)="deleteVarient(item.id)"></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator *ngIf="varient.length!=0" #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        <div *ngIf="varient.length==0" class="no-products-message animate">
          <p>Sorry, No Varient Added</p>
        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-primary" id="exampleModalLabel">Update Varient</h1>
        <img src="../../../../assets/imgs/icons/cross-removebg-preview.png" width="50px" data-bs-dismiss="modal" aria-label="Close">
      </div>
        <div class="modal-body">
          <div>
            <form>
              <div>
                <label for="categoryName">Varient Category Name:</label>
                <input type="text" id="categoryName" [(ngModel)]="singleVarient.name" name="name"
                  required>
              </div>
  
              <div *ngFor="let subcategory of singleVarient.categoryAttributes; let i = index; trackBy: trackByFn"
                class="subcategory-row">
                <label for="subcategory{{ i }}">Attribute {{ i + 1 }}:</label>
                <input type="text" id="subcategory{{ i }}" [(ngModel)]="singleVarient.categoryAttributes[i].attributeName"
                  name="subcategory{{ i }}">
                <button type="button" class="btn btn-outline-primary"
                  (click)="deleteSubVarient(subcategory.id,i)">Delete</button>
              </div>
  
              <!-- <span style="color: red;">{{msg}}</span> -->0
              <div class="subcategory-row">
                <button type="button" class="btn btn-outline-primary" (click)="addVarientAttribute()">Add Subcategory</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatevarientCatByIds()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>
<!--
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-primary" id="exampleModalLabel">Update Varient</h1>
          <img src="../../../../assets/imgs/icons/cross-removebg-preview.png" width="50px" data-bs-dismiss="modal" aria-label="Close">
        </div>
        <div class="modal-body">
            <div>
                <form>
                    <div>
                      <label for="categoryName">Varient Name:</label>
                      <input type="text" id="categoryName"   [(ngModel)]="singleVarient.name" name="name" required>
                    </div>
                
                    <div *ngFor="let subVarient of singleVarient.categoryAttributes; let i = index; trackBy: trackByFn" class="subcategory-row">
                      <label for="varientAttribute{{ i }}">Varient Attribute {{ i + 1 }}:</label>
                      <input type="text" id="varientAttribute{{ i }}" [(ngModel)]="singleVarient.categoryAttributes[i].attributeName" name="varientAttribute{{ i }}">
                      <button type="button" class="btn btn-outline-primary" (click)="deleteVarientAttribute(i)">Delete</button>
                    </div> 
                      <span style="color: red;"> {{msg}}</span>
                    <div class="subcategory-row">
                      <button type="button" class="btn btn-outline-primary" >Add Varient Sub Category</button>
                    </div>
                
                    <button type="submit" >Add</button>
                  </form>
              </div>
        </div>
        <div class="modal-footer"> 
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->