<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <button class="btn btn-outline-warning b" [routerLink]="'/admin/addVarientCategory'">Add New Varient</button>
            </div>
        </div>
        <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Varient</th>
                        <th scope="col">Varient Attribute</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of varient, let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.name}}</td>
                        <td >
                            <div *ngFor="let items of item.categoryAttributes">{{items.attributeName}}</div>
                        </td>
                        <td>
                            <span>
                                <a><img  src="../../../../assets/imgs/icons/edit1.png" width="30px" alt=""></a>
                                <a><img class="btnd" src="../../../../assets/imgs/icons/del1.png" width="30px" alt=""></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</main>