
<!-- <app-user-dash-board></app-user-dash-board> -->
<router-outlet></router-outlet>
<!-- <app-adminhome></app-adminhome> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <button mat-raised-button style="margin-left: 20px;" (click)="switchPanel('CUSTOMER')" color="accent">CUSTOMER Panel</button>

            <button mat-raised-button style="margin-left: 20px;" (click)="switchPanel('ADMIN')" color="accent">Admin Panel</button>
        </div>
    </div>
</div>


<div *ngIf="currentPanel === 'CUSTOMER'">
    <app-user-dash-board></app-user-dash-board>
  </div>

  <div *ngIf="currentPanel === 'ADMIN'">
    <app-adminhome></app-adminhome>
  </div> -->
