

  <div class="dashboard-container">
    <div class="dashboard-box">
      <div class="dashboard-row">
        <h2>Dashboard</h2>
      </div>
      <div class="row">
      <div class="col-sm-6">
        <a href="admin.html" class="user-button">Admin</a>
      </div>
      <div class="col-sm-6">
        <a href="user.html" class="user-button">User</a>
      </div>
    </div>
      <div class="row">

      <div class="col-sm-6">
        <a href="vendor.html" class="user-button">Vendor</a>
      </div>
      <div class="col-sm-6">
        <a href="customer.html" class="user-button">Customer</a>
      </div>
    </div>
    </div>
  </div>







