

  <div class="dashboard-container">
    <div class="dashboard-box">
      <div class="dashboard-row">
        <h2>Dashboard</h2>
      </div>
      <div class="row">
      <div class="col-sm-6">
        <a [routerLink]="'/admin'" class="user-button">Admin</a>
      </div>
      <div class="col-sm-6">
        <a [routerLink]="'/user'" class="user-button">Customer</a>
      </div>
    </div>
      <div class="row">

      <div class="col-sm-6">
        <a [routerLink]="'/vendor'" class="user-button">Vendor</a>
      </div>
      <div class="col-sm-6">
        <a class="user-button">Manager</a>
      </div>
    </div>
    </div>
  </div>







