li {
    padding: 5px 0 5px 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    margin-left: 5px;
}

.menu-aside .menu-link {
    padding: 17px;
    font-weight: 800;
    font-size: 13px;
    /* color: #292f46; */
    border-radius: 0.3rem;
    position: relative;
    line-height: 1;
    display: flex;
    align-items: center;
}


