<main class="main-wrap">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
        <div class="row ">
            <div class="col-8">
                <button class="btn btn-outline-warning b" [routerLink]="'/admin/addCategory'">Add New Categories</button>
            </div>
            <div class="col-3 mt-30">
            <span class="d-flex">
                <input type="text" [(ngModel)]="categorySearch" name="categorySearch" class="form-control col-xs-2 mt-5" placeholder="Search...">
                <button (click)="getAllCategories()" class="btn"><i class="bi bi-search"></i></button>
            </span>
            </div>
        </div>
        
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category Id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sub-Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of categories;let i=index">
                    <th scope="row">{{pageSize*pageIndex+i+1}}</th>
                    <td>{{item.categoryName}}</td>
                    <td>
                        <div *ngFor="let items of item.subCategory">{{items.subCategory}}</div>
                    </td>
                    <td>
                        <span>
                            <a><img src="../../../../assets/imgs/icons/edit1.png" width="30px" alt=""></a>
                            <a><img class="btnd" src="../../../../assets/imgs/icons/del1.png" width="30px" alt=""></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
    </div>
</main>