<header class="main-header navbar">
    <div class="col-search">
        <form class="searchform">
           
            <datalist id="search_terms">
                <option value="Products"></option>
                <option value="New orders"></option>
                <option value="Apple iphone"></option>
                <option value="Ahmed Hassan"></option>
            </datalist>
        </form>
    </div>
    <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon" >
                    <i class="material-icons md-notifications animation-shake"></i>
                    <span class="badge rounded-pill">3</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" > <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                    <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                    <a class="dropdown-item" ><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                    <a class="dropdown-item" ><img src="assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                    <a class="dropdown-item" ><img src="assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown"  id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                    <!-- <a class="dropdown-item" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="material-icons md-perm_identity"></i>Edit Profile</a> -->
                    <a class="dropdown-item" ><i class="material-icons md-settings"></i>Account Settings</a>
                    <a class="dropdown-item" ><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                    <a class="dropdown-item" ><i class="material-icons md-receipt"></i>Billing</a>
                    <a class="dropdown-item" ><i class="material-icons md-help_outline"></i>Help center</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" (click)="logout()"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
    </header>
    

    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
        
    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-primary" id="exampleModalLabel">Account Details</h1>
          <img src="../../../../assets/imgs/icons/cross-removebg-preview.png" width="50px" data-bs-dismiss="modal" aria-label="Close">
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form method="post" name="enq">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name <span class="required text-danger">*</span></label>
                            <input required="" [(ngModel)]="user.firstName" class="form-control" name="name" type="text" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name <span class="required text-danger">*</span></label>
                                <input required="" [(ngModel)]="user.lastName" class="form-control" name="phone" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Display Name <span class="required text-danger">*</span></label>
                                <input required="" disabled class="form-control disableCursor" name="dname" type="text" [placeholder]="user.firstName+' '+user.lastName"/>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Email Address <span class="required text-danger">*</span></label>
                                <input required="" disabled class="form-control disableCursor" name="email" [placeholder]="user.userEmail" type="email" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Mobile No. <span class="required text-danger">*</span></label>
                                <input required=""  disabled class="form-control disableCursor" [placeholder]="user.userMobile" name="userMobile" type="text" />
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-3">
                                <label>Select you gender <span class="required text-danger">*</span></label>
                                <select id="gender" name="gender" [(ngModel)]="user.gender">
                                    <option *ngIf="user.gender=='MALE'" value="MALE">Male</option>
                                    <option *ngIf="user.gender=='FEMALE'" value="FEMALE">Female</option>
                                    <option *ngIf="user.gender=='OTHER'" value="OTHER">other</option>
                                    <option *ngIf="user.gender!='MALE'" value="MALE">Male</option>
                                    <option *ngIf="user.gender!='FEMALE'" value="FEMALE">Female</option>
                                    <option *ngIf="user.gender!='OTHER'" value="OTHER">other</option>
                                </select>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()">Save changes</button>
        </div>
      </div>
    </div>
  </div>